@import "./custom_colors";

.parlamentares{
    height: calc(100% - 70px);
    margin-left: 0px ;
    margin-right: 0px;
    margin-top: 0px;
}

.bm-menu{
    background: white;
    padding-top: 10px;
}

.parl{
    background-color: $custom-purple;
    height: calc(100%);
  }

  .img {
    margin-left: 0px ;
    margin-right: 0px;
    margin-top: 0px;
  }

  #col {
    margin-right: 2px;
  }